name: Server Deploy

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
    paths:
      - 'server/**'

env:
  CARGO_TERM_COLOR: always



jobs:
  build:
    name: 构建 ${{ matrix.app }}

    runs-on: ubuntu-20.04

    strategy:
      matrix:
        app: [api, static]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        run: cd server && cargo build --release --bin ${{ matrix.app }}
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.app }}
          path: server/target/release/${{ matrix.app }}

  run:
    name: 运行

    runs-on: ubuntu-20.04

    needs: build

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Make temp dir
        run: mkdir temp
      - name: Download api artifact
        uses: actions/download-artifact@v2
        with:
          name: api
          path: temp
      - name: Download static artifact
        uses: actions/download-artifact@v2
        with:
          name: static
          path: temp
      - name: Rename artifact
        run: |
          mv temp/api temp/health-monitoring-server-api
          mv temp/static temp/health-monitoring-server-static
      - name: Copy files
        run: |
          cp server/config.yaml temp
          cp server/scripts/* temp
      - name: Zip
        run: zip -r health-monitoring.zip temp
      - name: Send to server
        uses: garygrossgarten/github-action-scp@release
        with:
          local: health-monitoring.zip
          remote: health-monitoring/health-monitoring.zip
          host: ${{ secrets.HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
      - name: Unzip and run
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            cd health-monitoring
            unzip -o health-monitoring.zip
            mv -r temp/* . -f
            sh remove-service.sh
            export MYSQL_PASSWORD=${{ secrets.MYSQL_PASSWORD }}
            sh create-service.sh
