name: Server Deploy

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
    paths:
      - 'server/**'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: cd server && cargo build --verbose --release && ls target/release
      - name: 将二进制文件发送到服务器
        uses: garygrossgarten/github-action-scp@release
        with:
          local: server/target/release/health-monitoring-server
          remote: health-monitoring/server
          host: ${{ secrets.HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
      - name: 将配置文件发送到服务器
        uses: garygrossgarten/github-action-scp@release
        with:
          local: server/config.yaml
          remote: health-monitoring/config.yaml
          host: ${{ secrets.HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
      - name: Run
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            cd health-monitoring
            chmod 777 server
            sh run.sh server
